<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/RMIClientApplication/src/com/bmc/client/EmployeeClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.bmc.client.EmployeeClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="RMIClientApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.security.policy=file:${workspace_loc}/RMIClientApplication/security.policy -Djava.rmi.server.codebase=file:${workspace_loc}/RMIServerApplication/bin/"/>
</launchConfiguration>
