<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/BMCApplication/src/com/bmc/demo/Client.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.bmc.demo.Client"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="I Love Java"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="BMCApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dserverip=192.168.0.1 -Dport=8080"/>
</launchConfiguration>
